@page "/repos"
@inject IGithubRepoService GithubRepoService

<section id="projects" class="project-section">
    <h2 style="text-align: left; margin-bottom: 20px;">Mes projets publics sur <strong>GitHub</strong></h2>
    <p>
        Les données ci-dessous ont été récupérées par mes soins depuis l'
        <a style="text-decoration: underline;" href="https://docs.github.com/en/rest" target="_blank" rel="noreferrer">
            <strong>API REST</strong>
        </a> de GitHub.
    </p>
    
    <hr/>
    @if (_repos is null)
    {
        <p>Chargement des données depuis Github...</p>
    }
    else
    {
        <div style="overflow-x:auto !important;">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Tech</th>
                    <th scope="col">Description</th>
                    <th scope="col">Créé le</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var repo in _repos)
                {
                    <tr>
                        <td class="fw-bold">
                            <a href="@repo.Url" target="_blank" rel="noreferrer">
                                @repo.Name
                            </a>
                        </td>
                        <td class="font-monospace fw-bold">@repo.Language</td>
                        <td>@repo.Description</td>
                        <td>@repo.CreateAt.ToShortDateString()</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</section>

@code {
    private List<GithubRepoDto>? _repos;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _repos = await GithubRepoService.GetRepositories();
    }
}