@page "/book"
@inject IBookService BookService

<PageTitle>Book</PageTitle>

@if (BookInfo == null)
{
    <em>Loading data...</em>
}
else
{
    <li class="card">
        <img src="@BookInfo.ImageUrl" style="max-width: 50%;max-height: 50%" class="card-img-top mx-auto d-block img-thumbnail" alt="book">
        <div class="card-body">
            <h5 class="card-title">@BookInfo.Title</h5>
            <h5 class="card-subtitle">@BookInfo.SubTitle</h5>
            @foreach (var identifier in BookInfo.Identifiers)
            {
                <div class="m-1">
                    <h6 class="card-subtitle">@identifier.ISBN</h6>
                    <p class="card-text">@identifier.Type</p>
                </div>
            }
            <h6>Un livre de @BookInfo.Authors.FirstOrDefault()</h6>
        </div>
    </li>
}



@code {
    BookDto? BookInfo = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        BookInfo = await BookService.GetBookByIsbnAsync("9782302004313");
    }

    private class GoogleBook
    {
        public string Title { get; set; } = string.Empty;
        public int AuthorsCount { get; set; }
    }
}
